doctype
html
    head
        title=title
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")

        script(src="https://code.jquery.com/jquery-latest.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
        nav(class="navbar navbar-expand navbar-dark bg-dark")
            div(class="navbar-collapse collapse w-100")
                a(class="navbar-brand" href="/") Newer Egg
                ul(class="navbar-nav")
                    li(class="nav-item")
                        a(href="/" class="nav-link") Home
                    li(class="nav-item")
                        a(href="/about" class="nav-link") About

            div(class="navbar-collapse collapse w-200")
                ul(class="navbar-nav")
                    if (username != undefined)
                        li(class="nav-item")
                            div(class="dropdown")
                                button(class="btn btn-secondary dropdown-toggle btn-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    i(class="fas fa-user", alt="")
                                div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
                                    if (username === "admin")
                                        a(href="/admin/items" class="dropdown-item") Admin
                                    else
                                        p(class="dropdown-item")= username 
                                    a(href="/transactionHistory" class="dropdown-item") Transactions
                                    a(href="/signout" class="dropdown-item") Sign out
                    if (username === undefined)
                        li(class="nav-item")
                            a(href="/login" class="nav-link login") Login
                        li(class="nav-item")
                            a(href="/register" class="nav-link register") Register
                    if (username != undefined)
                        li(class="nav-item")
                            a(href="/cart" class="nav-link")
                                div(class="cart")
                                    i.fas.fa-shopping-cart

        block content

