extends layout
block content
    div(class='container-fluid')
        h1 Transaction History
        p= description
        table(id='table' class='table')
            if(tableItems != undefined)
                tr(class="tableHeader")
                    th Name
                    th Status

                each item in tableItems
                    tr(class="tableRow")
                        td= item.name
                        td= item.status
