html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.icon {
  width: 1.60rem;
  height: 1.60rem;
}

.navbar-brand {
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}


.nav-item {
  padding-top: 0.15rem;
  margin-right: 0.5rem;
}

#logo {
  font-size: 30;
  padding-right: 4rem;
}

#searchBar {
  width: 50%;
  margin-right: 0.5rem;
}

.header {
  display: flex;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

#login {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.box {
  border: 1px solid black;
  border-radius: 5px;
}

.loginBox {
  margin: 10px;
  padding: 10px;
}

.loginBox .btn {

  width: 100%;
}

hr {
  background-color: red;
}


.login .form-group .form-group a {
  display: inline;
  margin: 10px;
}

.signup {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.add {
  width: 100%
}

.addForm {
  display: none;
}

/* .signup h4 {
  justify-content: center;
} */

/* .form-group {
    text-align: center;
} */