doctype
html
    head
        title=title
        link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

        script(src="https://code.jquery.com/jquery-latest.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    body
        ul(class="menu")
            li
                a(href="/") Home
            li
                a(href="/about") About
            if (!username || (username === ''))
                li 
                    a(href="/login") Login
            else
                li
                   a(href="/login") Login
                li
                   a(href="/register") Register
            li
                a(href="/items") Items
            if (username === 'admin')
                li 
                    a(href="/admin") Admin
        block content

